body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

div{
    padding: 0px 256px;
}

a{
    text-decoration: none;
    color: #F9FAF8
}

a:hover{
    font-style: italic;
    font-weight: bolder;
    color: darkcyan;
}


.header,.footer{
    background-color: #1F2937;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding: 0px;
    margin: 0px;
}

li,.secondary{
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
}

ul{
    display: flex;
    margin: 0px;
    gap: 32px;
}

button{
    background-color: #3B82F6;
    border-radius: 8px;
    height: 32px;
    width: 128px;
    border: none;
    color: #F9FAF8;
    font-weight: bold;
}

button:hover{
    background-color: #294570;
    font-weight: bolder;
}

.box{
    background-color: #3882F6;
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.section3{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    background-color: #E5E7EB;
    padding-top: 128px;
    padding-bottom: 128px;
}

.section1,.header{
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header{
    justify-content: space-between;
}

.section1{
    padding-top: 64px;
    padding-bottom: 128px;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.left-side{
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
}

.section1 img{
    flex: 1;
    object-fit: cover;
}

.avatar img{
    border: #3B82F6;
    border-width: 4px;
    border-style: solid;
    border-radius: 8px;
}

.avatar{
    margin: 0px;
    padding: 0px;
}

.avatar p{
    margin: 8px;
}

h2{
    margin-top: 0px;
    margin-bottom: 64px;
}

.author{
    margin-left: auto;
    margin-right: 0px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
}

.section3 p{
    margin: 0px;
}

.section2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 128px;
}

.avatars{
    display: flex;
    justify-content: space-around;
    gap: 64px;
}

.section4{
    padding-top: 64px;
    padding-bottom: 64px;
}

.box{
    margin: 0px;
    padding: 32px 64px;
    border-radius: 8px;
    display: flex;
    gap: 64px;
    justify-content: center;
    align-items: center;
}

.box p{
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.button2{
    background-color: #3882F6;
    border-radius: 8px;
    height: 32px;
    width: 128px;
    border-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
    color: #F9FAF8;
    font-weight: bold;
}

.call{
    font-weight: bold;
}

.box-left{
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.footer{
    text-align: center;
    color: #E5E7EB;
    padding-top: 32px;
    padding-bottom: 32px;

}